html, body {
    height: 100%;
    width: 100%;
}

#gola {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(rgb(242, 242, 2),rgb(238, 157, 8),rgb(242, 12, 50),purple,blue);
    padding: 2px;
}

#gola img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}